code {
    background-color: #b0aeae70;
    padding: 2px 4px;
    border-radius: 3px;
    font-size: 90%;
    color: #c7254e;
}


kbd {
    display: inline-block;
    padding: 2px 8px;
    font-size: 100%;
    line-height: 1;
    color: #fff;
    background-color: #919497;
    border: 1px solid #454546;
    border-radius: 3px;
    box-shadow: none;
    cursor: pointer;
}

p, h1, h2, h3, h4, h5, h6, ruby, rt, rp, details, summary, dialog {
    font-family: 'Roboto', sans-serif;
}

h2 {
    margin-top: 70px;
}


p {
    margin-bottom: 8px;
}

#code_img {
    width: 80%;
}